<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${customer.id}"></title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="customerpage.css"/>
</head>
<body>
    <div class="container">
        <div class="heading">
            <div class="nav">
                <a href="/">All Customers</a>
                <a href="/add">Add Customer</a>
            </div>
        </div>
        <div class="customer-container">
            <h1><span th:text="${customer.firstname}"></span> <span th:text="${customer.lastname}"></span></h1>
            <h3>Phone: <span th:text="${customer.phone}"></span></h3>
            <h3>Email: <span th:text="${customer.email}"></span></h3>
        </div>
    </div>
</body>
</html>