<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food!!!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Your Food</h1>
    <a href="/">Home</a>
    <p>The food you selected is {{foodItem.name}}</p>
    <img src="{{foodItem.img}}" />

  </body>
</html>
