<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Georgia Tardy Artwork Collection</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <header>
      <h1>Artwork Collection</h1>
    </header>

    <nav>
        <a class="button" href="/">Collection</a>
        <a class="button" href="/itemForm">Add New Item</a>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
