* {
  /* margin: auto; */
}

body {
  background-color: #84949d;
  /* max-width: 340px; */
}

#container {
  border: .15em solid #fcd254;
  border-radius: .5em;
  /* height: 100%; */
  /* width: 80%; */
  margin: 0 auto;
  background-color: white;
  /* max-width: 80%; */
  padding-bottom: 1em;
}

header {
  background-color: #fd8534;
  /* height: 20em; */
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  /* display: inline; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: flex;
  flex-direction: column; */
  padding: 1em 0;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo_img {
  width: auto;
  height: 10em;
}

#nav {
  /* width: 95%; */
  /* font-size: 3em; */
  /* bottom: 1em; */
  /* position: relative; */
  /* display: inline; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TODO: make it so 'dog breeds' is on one line.
And make the buttons as wide as the logo but not wider. */

.main_navigation a {
  border: .05em solid white;
  color: white;
  text-decoration: none;
  border-radius: .25em;
  padding: .25em 30%;
  margin: .1em;
  width: 27%;
  text-align: center;
  font-size: 3em;
}

h1 {
  /* margin: auto; */
}

#page_content {
  width: 85%;
  margin: auto;
}

#page_content section {
  /* width: 85%;
  margin: auto; */
}

h1, h3 {
  /* padding: 1em 0em; */
  /* padding-top: 1em; */
  margin-top: 2em;
  color: #1aa1df;
}

#page_content ul li {
  /* font-weight: bold; */
}

#page_content div h1 {
  /* color: #1aa1df; */
}

#table_title, #form_title {
  /* color: #bbe4f6; */
}

#page_content section table, td {
  /* border: 1px solid #55bde8;
  border-collapse: collapse; */
}

#page_content section table {
  /* width: 100%; */
}

.TextCell {
  /* padding: .5em .75em; */
}

#row_one {
  /* background: #2cace3; */
  /* color: white; */
  /* border: 2px solid #1987b8; */
}

#row_one td {
  /* padding: 1em; */
}

img {
  /* height: 30%;
  margin: 2em; */
}

.line {
  /* border-top: #dbdbdb .25em solid;
  width: 95%;
  margin-top: 2em;
  margin-bottom: 1em; */
}

form {
  background: #dbdbdb;
  border-radius: 1em;
  font-size: 2em;
  /* height: 22em; */
  /* width: 95%; */
  /* padding: .2em 0em; */
}

body div div form textarea {
  /* width: 95%;
  border: .1em #2cace3 solid; */
}

#form_div {
  display: flex;
  flex-direction: column;
  /* margin: 1em; */
  padding: 1em;
  /* background: #fd8534; */
  /* border-radius: .25em; */
  /* height: 3em; */
  /* width: 95%; */
  /* color: white; */
}

#form_div label {
  /* margin-left: 1em; */
  padding: .3em 0;
}

.div_one {
  /* margin: auto; */
  /* margin-left: 1em; */
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  /* max-width: 250px; */
  /* width: 80%; */
  /* margin-right: 1em; */
}

#form_div label, input {
  /* margin-top: 1em; */
}

input, select, textarea, button {
  /* font: normal 1em courier !important; */
  /* TODO: change 'courier' to match the font of the rest of the text. */
  font: normal 1em courier;
}

#orange {
  background-color: orange;
  padding: 0.5em;
  color: white;
  border-radius: 0.5em;
  width: 90%;
}

#orange div {
  padding: .1em;
}

#orange input {
  width: 50%;
}

#FavoriteBreed {}

#textarea {
  /* margin-left: 1em; */
  /* width: 80%; */
}

button {
  background: #2cace3;
  color: white;
  padding: .5em;
  border-radius: .5em;
}

button:hover {
  color: green;
}

/* The following is copied from https://css-tricks.com/responsive-data-tables/ */

/* Force table to not be like tables anymore */

table, thead, tbody, th, td, tr {
  display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */

thead td {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr {
  border: 1px solid #ccc;
}

td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  /* top: 6px; */
  left: 6px;
  width: 45%;
  /* Added font-size to make larger. Might mess with other sized screens. */
  font-size: 3em;
  padding-right: 10px;
  white-space: nowrap;
}

/*
	Label the data
	*/

td:nth-of-type(1):before {
  content: "Breed";
}

td:nth-of-type(2):before {
  content: "Image";
}

td:nth-of-type(3):before {
  content: "Weight";
}

td:nth-of-type(4):before {
  content: "Origin";
}

td:nth-of-type(5):before {
  content: "Markings";
}

}

/* =========================================== */

/* from: https://www.w3schools.com/howto/howto_js_popup.asp */

/* =========================================== */

/* Popup container */

.popup {
  position: relative;
  top: 2em;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* =========================================== */

/* Style for tablets */

/* Using: https://stackoverflow.com/questions/16704243/widths-to-use-in-media-queries */

@media (min-width: 40em) {
  body {
    background-color: lightgreen;
  }
}

/* Style for desktop */

/* Using: https://stackoverflow.com/questions/16704243/widths-to-use-in-media-queries */

@media (min-width: 60em) {
  body {
    background-color: lightblue;
  }

#logo {
  display: block;
  }

  #nav {
    /* width: 95%; */
    /* font-size: 3em; */
    /* bottom: 1em; */
    /* position: relative; */
    /* display: inline; */
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
  }

/* TODO: Add photos to this. */
  td:before {
    font-size: 1em;
  }

.main_navigation a {
  border: .05em solid white;
  color: white;
  text-decoration: none;
  border-radius: .25em;
  padding: .25em;
  margin: .1em;
  width: 27%;
  text-align: center;
  font-size: 1.5em;
}

  form {
    font-size: 1em;
  }

  button {
    width: 25%;
  }
}
