/*
FONT-FAMILY STACK:

Helvetica, Arial, sans-serif

COLORS:

red:    #BA3610
orange: #E57727
blue:   #278A96
black:  #132226
brown:  #262425
white:  #F5FFEB
*/

/*************************/
/**** GENERIC STYLES *****/
/*************************/
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    background-image: url( "./img/bg.jpg" );
    line-height: 1.6;
    margin: 0;
    padding-top: 20px;
}
img{
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.wrapper{
    background-color: #F5FFEB;
    width: 1000px;
    margin: auto;
    /** TODO 1: Center the site on the screen **/
    /** Done **/

    border-radius: 8px;
    overflow: hidden;
}

/*************************/
/**** HEADER STYLES ******/
/*************************/
#site_header{
    background-color: #262425;
    padding: 20px;
}

/* TODO: Arrange the logo and navigation links into a row */
/** Done **/

#logo{
  float: left;
    /* #logo styles here */
}
#main_nav{
  float: right;

    /* #main_nav styles here */
}
#main_nav a{
    background-color: #E57727;

    /* #navigation button styles here */
}
#main_nav a:hover{
    background-color: #BA3610;
}

/*********************************/
/**** CALL TO ACTION STYLES ******/
/*********************************/
#call_to_action{
    background-color: #BA3610;
    padding: 20px;
}

/**
    TODO 2:
    float the block of text
    and the image into columns
    The text column should be wider than
    the image column
**/


#call_to_action div{
  float: right;
  /*border: green 1px solid;*/
    /* text column styles here */
}
#call_to_action img{
  /*float: right;*/
  border: green 1px solid;
    /* image column styles here */
}
#call_to_action h1, #call_to_action p{
    color: white;
}
#call_to_action a{
    background-color: #E57727;
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
#call_to_action a:hover{
    background-color: #278A96;
}


/***************************/
/**** FEATURED STYLES ******/
/***************************/
#featured_products{
    padding: 20px;
    margin-bottom: 40px;
}
#featured_products ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
    TODO 3:
    float the three list items
    into equal columns
    The last column will need some special
    styling to make things fit correctly
**/

#featured_products li{
    /* list item styles here */
}
#featured_products li:last-child{
    /* styles for the last li here */
}
#featured_products li img{
    border-radius: 4px;
}
#featured_products h2{
    /* TODO 4: Match the styles of the h2 to the mockup */
}
#featured_products p{
    margin-top: 0;
}
#featured_products a{
    color: #E57727;
}
#featured_products a:hover{
    color: #278A96;
}

/*************************/
/**** FOOTER STYLES ******/
/*************************/
#site_footer{
    width: 1000px;
    margin: 0 auto;
}
#site_footer nav{
    text-align: center;
    padding: 20px 0;
}
#site_footer nav a{
    display: inline-block;
    color: white;
    padding: 0 15px;
}
#site_footer nav a:hover{
    color: #132226;
}

/*******************************/
/**** PRODUCT PAGE STYLES ******/
/*******************************/
#products{
    padding: 20px 0 20px 20px;
    margin-bottom: 40px;
}
#products header{
    /* TODO 5: Style the product list header to match the mockup */
}
#products header p{
    text-transform: uppercase;
}
#products ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
    TODO 3:
    float the nine list items into a 3 column grid
    The columns should be equal
**/

#products li{
    /* Height is set to stabalize the grid */
    height: 380px;

    /* Additional styles for the li elements here */
}
#products li img{
    border-radius: 4px;
}
#products li h2{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.2em;
}
#products p{
    margin-top: 0;
}
