div {
    border: black 1px solid;
    background-color: beige;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    
    /* height: 500px; */
}

p {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.bar-chart {
    margin-left: auto;
    margin-right: auto;
    background-color: #C7D9D9;
    border: green 1px solid;
    }
    
.bar {
     fill: #115D8C;
     }