<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Passport Example</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="fortune">
      <!-- fortune will go here -->
    </div>

    <button id="load">Load another fortune!</button>

    <h1>Your Lucky Numbers:</h1>

    <div id="luckyNumbers">
      <!-- lucky numbers will go here -->
    </div>

    <script src="/js/fortuneClient.js"></script>
  </body>
</html>
