<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Robots Directory</title>
  <link rel="stylesheet" href="/css/robots.css">
</head>

<body>
  <header>
    <h1>User Directory</h1>
  </header>
  <main>
    <div id="status">
      <a href="#" id="all "class="employStatus">All robots</a>
      <a href="#" id="employed" class="employStatus">Employed robots</a>
      <a href="#" id="unemployed" class="employStatus">Unemployed robots</a>
    </div>

    <div class="dirContainer">

      <!-- <div class="userContainer">
        <div class="headshot">
          <img src="....." alt="">
        </div>
        <h2 class="userName">.....</h2>
        <p>.....</p>
        <p>.....</p>
      </div> -->

    </div>

    <div id="robotDetail">

      <!-- <div class="bioContainer">
        <div class="row1">
          <div id="bioAvaContainer">
            <img id="bioAvatar" src="......" alt="">
          </div>
          <div id="bioContact">
            <h2 id="bioName">......</h2>
            <div id="address">
              <p>......, ...... | ......</p>
              <p>...... | ......</p>
            </div>
          </div>
        </div>

        <div class="row2">
          <div id="subHeaders">
            <h4 id="education"><strong>Education</strong></h4>
            <h4 id="skills"><strong>Skills</strong></h4>
          </div>
          <div id="subHeadInfo">
            <p>......</p>
            <ul>
              ......
                <li>......</li>
              ......
            </ul>
          </div>
        </div>

      </div> -->

    </div>
  </main>

  <script src="/js/robotsClient.js"></script>
</body>

</html>
