<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Login</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Please log in to use this site!</h1>
    </header>
    <main>
      {{#errors}}
        <section>
          <ul>
            <li>{{msg}}</li>
          </ul>
        </section>
      {{/errors}}
      <form class="login" action="/login" method="post">
        <input type="text" name="username" placeholder="Username" value="">
        <input type="password" name="password" placeholder="Password" value="">
        <button type="submit" name="submit">Log in!</button>
      </form>
    </main>
  </div>
</body>

</html>
