<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login Test</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <main>
      <h1>Thanks for logging in, <span id="username">{{username}}</span>!</h1>
    </main>
  </div>
</body>

</html>
