<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <h1>Please login below</h1>
    <form action="/login/" method="post">
      <label for="username">Enter Username</label>
      <input type="text" id="username" name="username">
      <label for="username">Enter Password</label>
      <input type="password" id="password" name="password">
      
      <input type="submit" id="loginButton" value="Login">
    </form>
  </body>
</html>
