<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Customers</title>
</head>
<body>
<h1>My Output</h1>

<a th:href="'/'">Home</a>
<a th:href="'/createCustomerForm'">Create a Customer</a>
<a th:href="'/updateCustomerForm'">Update a Customer</a>
<a th:href="'/deleteCustomerForm'">Delete a Customer</a>

<form action="index.html" th:action="'/'" method="get">
    <input type="text" name="id" value="" th:value="${id}" placeholder="Search" />
    <!--<input type="text" name="find" value="" th:value="${find}" placeholder="Search" />-->
    <button>Search</button>
</form>

<ol>

    <li th:each="customer:${customers}" th:text="${customer.id} + ' ' +${customer.firstName} + ' ' + ${customer.lastName} + '     ' + ${customer.phone} + '     ' + ${customer.email}"></li>
    <!--<li th:each="customer:${customers}" th:text="${customer.firstName} + ' ' + ${customer.lastName} + '     ' + ${customer.phone} + '     ' + ${customer.email}"></li>-->
</ol>

</body>
</html>