<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Gab</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul id="menu">
        <li class="menuItem"><a href="/">Gabble</a></li>
        <li class="menuItem"><a href="/mygabs">My Gabs</a></li>
        <li class="menuItem">Create a new gab</li>
        <li class="menuItem">Logged in as {{user.displayName}}</li>
        <li class="menuItem"><a href="logout">Log out</a></li>
      </ul>
    </nav>
    <div id="wrapper-create">
      <h1>Create a New Gab</h1>
      <br>
      <form action="/creategab" method="post">
        <textarea name="newgab" id="newgab" maxlength="140" cols="50" rows="3"></textarea>
        <br>
        <input type="submit" name="savegab" value="Save gab">
      </form>
    </div>  
  </body>
</html>