<!-- Jamie's file -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <!-- the items I need to bring in: -->
      <!-- users -->
      <!-- avatar -->
      <!-- name -->
      <!-- job -->
      <!-- skills -->
      <!-- users -->
  </body>
</html>
