<!-- The view presents an interface to the user based off data. -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{#cards}}
      <div class="card">
        {{.}}
      </div>
    {{/cards}}
  </body>
</html>
