<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Gabs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="nav-bar">
      <ul id="menu">
        <li class="menuItem"><a href="/">Gabble</a></li>
        <li class="menuItem">My Gabs</li>
        <li class="menuItem"><a href="/creategab">Create a new gab</a></li>
        <li class="menuItem">Logged in as {{user.displayName}}</li>
        <li class="menuItem"><a href="/logout">Log out</a></li>
      </ul>
    </nav>
    <div id="wrapper-homepage">
    <h1>My Gabs</h1>
    {{#messages}}
      <div class="message">
        <p>
          <form action="/mygabs/{{id}}" method="post">
            <div class="line-1">
              <span><strong>{{author.displayname}}</strong>: </span>
              <span class="middle">{{gab}}</span>
              <input type="submit" class="btn-like" value="Delete">
            </div>
          </form>
          {{createdAt}} 
          <br>
          {{#likes.length}}
            <a href="/likes/{{id}}">{{likes.length}} likes</a>
          {{/likes.length}}
          {{^likes.length}}
            No likes yet.
          {{/likes.length}}
          <br>
        </p>
      </div>
      <br>
    {{/messages}}
    </div>
  </body>
</html>