<!-- Jamie's file -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <!-- the items I need to bring in: -->
  <!-- users -->
  <!-- username name -->
  <!-- avatar -->
  <!-- job -->
  <!-- skills -->
  <!-- users -->
</body>

</html>
