* {
  box-sizing: border-box;
}

body {
  background-color: lightsteelblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

button {
  padding: .75em;
}

.container {
  border: solid 1px blue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 3em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

#username {
  text-transform: capitalize;
}
