body{
  background: blue;
}

h1{
  color: white;
  text-align: center;
}

form{
  border: 3px solid white;
  border-radius: 25px;
  margin: 10% 15%;
  height: 400px;
}

input{
  display: flex;
  align-items: center;
  margin: 0 auto;
}

input .username{
  margin-bottom: 25px;
}
