<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>hello you</h1>
  <form action="/addPlayer" method="post">
    <input placeholder="Player Name" type="text" name="name">
    <input placeholder="Sport" type="sport" name="name">
    <input placeholder="Ranking" type="rank" name="number">
    <button >Save Player</button>
  </form>

</body>

</html>
