header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #7FFFD4;
}

.form{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.form input{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  width: 200%;
  border-radius: 10px;
  padding: 5%;
  margin: 10%;
}

.form button{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  border: solid #006400;
  background-color: #2E8B57;
  margin: 5%;
  border-radius: 10px;
}
