<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new Food</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Add a new Food Item</h1>

    <form action="/addFood" method="post">
      <div><input type="text" name="name" placeholder="Name" /></div>
      <div><input type="text" name="serving" placeholder="Serving" /></div>
      <div><input type="number" name="calories" placeholder="Calories" /></div>
      <div><input type="number" name="protein" placeholder="Protein" /></div>
      <div><input type="number" name="fat" placeholder="Fat" /></div>
      <div><input type="number" name="carbs" placeholder="Carbs" /></div>

      <button>Save Food</button>
    </form>


  </body>
</html>
