<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home!!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Pick a food!</h1>
    <a href="/foodForm">Add food item</a>

    <img class="food" src="/images/food.jpg" />

    <ol>
      {{#foods}}
        <!-- this goes to a particular food by its index in the list of foods -->
        <li><a href="/food/{{@index}}">
          {{name}}
        </a></li>
      {{/foods}}
    </ol>

    <p>It is currently {{ formattedDate }}. Have a great day!</p>
  </body>
</html>
