<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your random number</title>
  </head>
  <body>
    <h1>Your random number is....</h1>

    <p>{{ randomNumber }}</p>
  </body>
</html>
