<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Victoria's Super Ultimate Show Down Login Page That Does Nothing Awesomely</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <article class="wrapper" id="home">
      <h3>You are now a pancake person {{username}}!</h3>
      <img src = "https://media.giphy.com/media/6C9CMGMFtzzbO/giphy.gif"/>
    </article>
  </body>
</html>
