body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: #3CB371;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.form{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.form input{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  width: 200%;
  border-radius: 10px;
  padding: 5%;
  margin: 10%;
}

.form button{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  border: solid #006400;
  background-color: #2E8B57;
  margin: 5%;
  border-radius: 10px;
}

.snippet{
  width: 600px;
  height: 700px;
  border: solid #006400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snippet input{
  width: 90%;
  padding: 5px;
  margin-top: 5%;
}

#tags{
  height: 60px;
}

#body{
  height: 200px;
}

#notes{
  height: 100px;
}

.signup{
  justify-content: center;
  align-items: center;
}

.search{
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2E8B57;
}

.search form{
  padding: 10px;
}

.search form input{
width: 200px;
}

.search form button{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  border: solid #006400;
  background-color: #2E8B57;
  border-radius: 10px;
}

.search table{
  width: 500px;
  border: solid #006400;
}

.search table th{
  font-family: 'Josefin Sans', sans-serif;
}
